apiVersion: 1

datasources:
  - name: InfluxDB
    type: influxdb
    access: proxy
    url: http://influxdb:8086
    isDefault: true
    jsonData:
      version: Flux
      organization: ${INFLUX_ORG}
      defaultBucket: ${INFLUX_BUCKET}
    secureJsonData:
      token: ${INFLUX_TOKEN}

  - name: DuckDB
    type: motherduck-duckdb-datasource
    access: proxy
    jsonData:
      path: /data/duckdb/home_energy.duckdb

  - name: Prometheus
    type: prometheus
    access: proxy
    url: http://prometheus:9090
